@charset "utf-8";
body {
  background-color: #f4f6f8;
}
.header {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-bottom: 60px;
  background: url("/img/header.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  list-style-type: none;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.header .inner {
  padding-top: 80px;
  text-align: center;
  line-height: 50px;
}
.header .inner h1 {
  font-size: 130px;
  color: #474747;
}
.header .inner p {
  margin-top: 90px;
  font-size: 40px;
  color: #474747;
}
.header .inner a {
  margin: 70px -6px 0 0;
  border-color: white;
  color: white;
}
.header .inner a:hover {
  border-color: #428bca;
}
.header .inner a:nth-of-type(1) {
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.header .inner a:last-child {
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
