@import "bootstrap_ico.css";
@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
span {
  font-size: 14px;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.base {
  clear: both;
  margin-bottom: 20px;
}
.base h2 {
  font-size: 30px;
  font-weight: 500;
}
.nav-menu {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
}
.nav-menu ul {
  list-style: none;
}
.nav-menu ul li {
  float: left;
  margin-left: 20px;
  line-height: 60px;
  text-align: center;
  position: relative;
}
.nav-menu ul li a:not(first-child) {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  color: #545454;
}
.nav-menu ul li a:not(first-child):hover {
  background-color: #dbdbdb;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
.nav-menu ul li a:not(first-child) i {
  color: #a9a9a9;
  zoom: 0.5;
}
.nav-menu ul li ul {
  display: none;
  position: absolute;
  border: 1px solid #cccccc;
  background-color: #fefefe;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}
.nav-menu ul li ul li {
  float: none;
  border-left: none;
  margin-top: 2px;
  margin-left: -20px;
}
.nav-menu ul li ul li a {
  width: 160px;
  height: 30px;
  margin-left: 20px;
  line-height: 1.85;
  overflow: hidden;
}
.nav-menu ul li:hover ul {
  display: block;
}
.nav-menu ul li[class=logo] {
  display: block;
  font-size: 40px;
}
.nav-menu ul li[class=logo] a {
  line-height: 1.3;
}
.nav-menu ul li[class=logo]:hover a {
  background-color: #eaeaea;
}
.nav-menu ul form {
  float: right;
  line-height: 42px;
}
.nav-menu ul form input[type=text] {
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.nav-menu ul form input[type=submit] {
  height: 30px;
  margin-left: -1px;
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}
.crumbs {
  width: 100%;
  height: 35px;
  list-style: none;
  background-color: #eaeaea;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crumbs li {
  float: left;
  line-height: 2.1;
  padding-left: 10px;
}
.crumbs li:not(:first-child)::before {
  content: "/";
  padding-right: 10px;
  color: #cccccc;
}
.crumbs li:first-child::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e021";
  padding-left: 0px;
  font-size: 14px;
  color: #959595;
}
.crumbs li:last-child a {
  color: #777777;
}
.crumbs li:last-child a:hover {
  color: #777777;
  cursor: default;
}
.crumbs li a {
  text-decoration: none;
  color: #428bca;
}
.crumbs li a:hover {
  color: #2a6496;
}
.panel-notice {
  width: 100%;
  min-height: 200px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}
.panel-notice .title {
  height: 40px;
  line-height: 1.9;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 20px;
}
.panel-notice .body {
  padding: 5px;
}
.alert-news {
  width: 100%;
  height: 50px;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  z-index: 1;
}
.alert-news span {
  line-height: 2.2;
  font-size: 18px;
}
.error {
  border-color: #FFDBDB;
  background-color: #ffeded;
  color: #ff3838;
}
.error span:first-child::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e014";
}
.warning {
  border-color: #F1F1A8;
  background-color: #ffffd5;
  color: #81812F;
}
.warning span:first-child::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e101";
}
.info {
  border-color: #A3D4FF;
  background-color: #B2DBFF;
  color: #088CFF;
}
.info span:first-child::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e107";
}
.success {
  border-color: #A0FFA0;
  background-color: #C7FFC7;
  color: #139613;
}
.success span:first-child::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e013";
}
.alert-news-all-close {
  float: right;
  padding-right: 10px;
  line-height: 2.6 !important;
  font-size: 15px !important;
  cursor: pointer;
}
.alert-news-error-close {
  color: #ff8888;
}
.alert-news-warning-close {
  color: #d1d17f;
}
.alert-news-info-close {
  color: #58dcff;
}
.alert-news-success-close {
  color: #63e663;
}
.article-box {
  float: left;
  width: 70%;
  max-height: 200px;
  min-height: 170px;
  margin: 5px 0;
  background-color: white;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.article-box .box-left {
  float: left;
  width: 76%;
}
.article-box .box-left .left-header {
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc;
}
.article-box .box-left .left-header span:nth-child(1) {
  font-size: 18px;
}
.article-box .box-left .left-header span:nth-child(2) {
  float: right;
  line-height: 1.8;
  color: #777777;
}
.article-box .box-left .left-header span:nth-child(2)::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e008";
}
.article-box .box-left .left-body {
  max-height: 94px;
  padding: 5px 10px;
  overflow: hidden;
}
.article-box .box-left .left-body span {
  word-wrap: break-word;
  color: #454545;
}
.article-box .box-rigth {
  float: right;
  padding: 10px 7px;
}
.article-box .box-bottom {
  clear: both;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, 0.04);
}
.article-box .box-bottom span {
  margin-right: 100px;
  color: #656565;
}
.article-box .box-bottom span:nth-child(1)::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e023";
}
.article-box .box-bottom span:nth-child(2)::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e105";
}
.article-box .box-bottom span:nth-child(3)::before {
  content: "来自：";
}
.article-box .box-bottom span a {
  text-decoration: none;
  color: #428bca;
}
.a-tag-link {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  height: 20px;
  min-width: 20px;
  line-height: 19px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  border: 1px solid #cccccc;
  color: #777777;
  background-color: #f4f4f4;
  padding: 0 3px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.a-tag-link:hover {
  text-decoration: none;
  color: #428bca;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
}
.a-tag-link i {
  padding-left: 3px;
}
.a-tag-link .division {
  position: relative;
  margin-left: -4px;
  padding-left: 3px;
  top: -2px;
  line-height: 1;
}
.a-tag-link em {
  position: relative;
  top: -1px;
  line-height: 1;
  padding-left: 3px;
  padding-right: 3px;
}
.a-tag-button {
  display: inline-block;
  padding: 8px 50px;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #428bca;
  background-color: rgba(255, 255, 255, 0);
  border-color: #428bca;
}
.a-tag-button:hover {
  background-color: #428bca;
  color: white;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.button-tag {
  height: 91px;
  width: 95px;
  border: 2px #428bca solid;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 500px;
  -ms-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  outline: none;
  color: #2a6496;
  background-color: rgba(255, 255, 255, 0);
}
.button-tag:hover {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  -moz-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  -ms-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  text-shadow: 0 1px 2px #428bca;
}
.button-group {
  float: left;
  margin-bottom: 10px;
}
.button-group button {
  float: left;
  outline: none;
  padding: 6.8px 19px;
  min-width: 106px;
  border: 1px solid #cccccc;
  color: #428bca;
  background-color: #fff;
  font-size: 16px;
}
.button-group button:not(:first-child) {
  margin-left: -1px;
}
.button-group button:first-child {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-group button:last-child {
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.button-group button:hover {
  background-color: #eaeaea;
  color: #2a6496;
  cursor: pointer;
}
.a-page {
  float: left;
  margin-bottom: 10px;
}
.a-page a {
  display: inline-block;
  margin-left: -1px;
  padding: 0 14px;
  line-height: 1.4;
  text-align: center;
  float: left;
  text-decoration: none;
  border: 1px solid transparent;
  color: #428bca;
  background-color: #fff;
  border-color: #cccccc;
}
.a-page a:first-child {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.a-page a:last-child {
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.a-page a:hover:not(.new) {
  background-color: #e8e8e8;
  border-color: #c2c2c2;
  color: #2a6496;
}
.a-page .new {
  background-color: #cccccc;
  color: #a4a4a4;
  cursor: default;
}
.a-page .last,
.button-page .last,
.a-page .next,
.button-page .next {
  width: 40px;
  padding-left: 7px;
}
.a-page .no-hover:hover,
.button-page .no-hover:hover {
  background-color: #fff !important;
  color: #428bca !important;
}
.button-page {
  float: left;
  margin-bottom: 10px;
}
.button-page button {
  outline: none;
  padding: 0.8px 14px;
  float: left;
  border: 1px solid #cccccc;
  color: #428bca;
  background-color: #fff;
  font-size: 16px;
}
.button-page button:not(:first-child) {
  margin-left: -1px;
}
.button-page button:first-child {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-page button:last-child {
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.button-page button:hover:not(.new) {
  background-color: #e8e8e8;
  border-color: #c2c2c2;
  color: #2a6496;
  cursor: pointer;
}
.button-page .new {
  background-color: #cccccc;
  color: #a4a4a4;
}
.img-circle {
  width: 112px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 500px;
  -ms-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.img-circle-hover {
  box-sizing: border-box;
  width: 112px;
  margin-top: 5px;
  -webkit-border-radius: 500px;
  -ms-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 6px solid #cccccc;
  transition: border linear 0.2s;
}
.img-circle-hover:hover {
  border: 2px solid #cccccc;
  cursor: pointer;
}
.img-frames {
  padding: 3px;
  width: 112px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.img-frames-hover {
  box-sizing: border-box;
  padding: 3px;
  width: 112px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  transition: all linear 0.2s;
}
.img-frames-hover:hover {
  cursor: pointer;
  border: 0px solid #cccccc;
}
.thumbnail-frames {
  padding: 3px;
  width: 60px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown button {
  padding: 5px 5px 5px 10px;
  border: 1px #e0e0e0 solid;
  background-color: white;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.dropdown button::after {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e250";
  padding: 0 2px;
  font-size: 12px;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 button {
  padding: 5px 5px 5px 10px;
  border: 1px #e0e0e0 solid;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.dropdown2 button::after {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e252";
  padding: 0 2px;
  font-size: 12px;
}
.dropdown-ul {
  display: none;
  list-style-type: none;
  width: 150px;
  border: 1px #e0e0e0 solid;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  z-index: 1;
}
.dropdown-ul li {
  width: auto;
  line-height: 1.5;
}
.dropdown-ul li:first-child:hover {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown-ul li:last-child:hover {
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown-ul li:hover {
  background-color: #eaeaea;
}
.dropdown-ul li a {
  display: block;
  padding: 5px 13px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.form-tag {
  margin: 8px 0 8px 0;
  padding: 0 10px 0 10px;
}
.form-tag input {
  width: auto;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
.form-tag input[type="submit"] {
  width: 100px;
  padding-left: 0px;
  background-color: #f4f4f4;
  color: #686868;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.form-tag input[type="submit"]:hover {
  background-color: #eaeaea;
}
.form-tag .group-left {
  -ms-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
}
.form-tag .group-all {
  margin: 0 -1px 0 -6px;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
}
.form-tag .group-right {
  margin-left: -6px;
  -ms-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}
.table-tag-head {
  padding: 10px 10px 10px 30px;
  margin-bottom: -1px;
  width: 100%;
  border: 1px solid #cccccc;
  background-color: #eaeaea;
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}
.table-tag-head span {
  font-size: 18px;
}
.table-tag {
  width: 100%;
  border: 1px solid #cccccc;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
}
.table-tag > thead {
  text-align: center;
}
.table-tag > thead > tr > th,
.table-tag > thead > tr > td {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}
.table-tag > tbody {
  text-align: center;
}
.table-tag > tbody > tr:nth-child(odd) {
  background-color: #f4f4f4;
}
.table-tag > tbody > tr > th,
.table-tag > tbody > tr > td {
  padding: 10px 0;
}
.alert_model_main {
  display: none;
  width: 1170px;
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 1001;
}
#alert_mask {
  background-color: black;
  height: 1000px;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.embed {
  clear: both;
  padding: 12px;
  background-color: #f4f4f4;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.embed span {
  font-size: 17px;
  line-height: 25px;
  color: #636363;
}
.code-tag {
  clear: both;
  display: block;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 0 5px 10px;
  font-family: "Courier New", monospace;
  color: #0c4678;
  background-color: #f5f5f5;
  overflow: hidden;
  word-wrap: break-word;
}
.code-tag pre {
  font-family: "Courier New", monospace;
}
.code {
  padding: 0 8px 0 8px;
  background-color: rgba(255, 0, 0, 0.06);
  color: rgba(255, 0, 0, 0.67) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -ms-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.web-footer {
  width: 100%;
  height: 200px;
  background-color: #cccccc;
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
}
.web-footer .inner {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.web-footer .inner dl {
  float: left;
  padding-right: 40px;
  border-right: 1px solid #9a9a9a;
}
.web-footer .inner dl dt {
  color: #4a4a4a;
  padding-bottom: 10px;
}
.web-footer .inner dl dd {
  text-align: center;
  padding-bottom: 5px;
}
.web-footer .inner dl dd a {
  color: #428bca;
  text-decoration: none;
}
.web-footer .inner dl dd a:hover {
  color: #2a6496;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
.web-footer .inner dl:not(:first-child) {
  padding-left: 40px;
}
.web-footer .inner dl:last-child {
  border-right: none;
}
.web-footer .inner .footer-int {
  padding-left: 40px;
}
.web-footer .inner .footer-int span {
  color: #2a6496;
}
.web-footer2 {
  width: 100%;
  height: 120px;
  background-color: #353535;
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
}
.web-footer2 .inner {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.web-footer2 .inner ul:first-child {
  float: left;
  list-style: none;
}
.web-footer2 .inner ul:first-child li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #9a9a9a;
}
.web-footer2 .inner ul:first-child li a {
  color: white;
  text-decoration: none;
}
.web-footer2 .inner ul:first-child li a:hover {
  color: #cccccc;
}
.web-footer2 .inner ul:first-child li:first-child {
  padding-left: 0;
}
.web-footer2 .inner ul:first-child li:first-child {
  width: 92px;
}
.web-footer2 .inner ul:first-child li:first-child,
.web-footer2 .inner ul:first-child li:last-child {
  border-right: none;
}
.web-footer2 .inner ul:first-child li:not(:first-child) {
  line-height: 1.9;
}
.web-footer2 .inner p {
  padding-top: 55px;
  color: #9a9a9a;
  font-size: 13px;
}
.web-footer2 .inner .right-icon {
  float: right;
}
.web-footer2 .inner .right-icon ul li {
  border-right: none;
}
.web-footer3 {
  width: 100%;
  height: 304px;
  background-color: #353535;
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
}
.web-footer3 .inner {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.web-footer3 .inner dl {
  float: left;
  padding-right: 65px;
  width: 300px;
}
.web-footer3 .inner dl dd {
  font-size: 14px;
  color: #cccccc;
}
.web-footer3 .inner dl:last-child {
  width: 235px !important;
  padding-right: 0 !important;
}
.web-footer3 .inner dl:not(:first-child) {
  float: left;
  padding-right: 65px;
  width: 300px;
}
.web-footer3 .inner dl:not(:first-child) dt {
  padding-bottom: 10px;
  border-bottom: 1px dashed #9a9a9a;
}
.web-footer3 .inner dl:not(:first-child) dt span {
  padding-bottom: 9px;
  border-bottom: 3px solid #428bca;
  font-size: 20px;
  color: white;
}
.web-footer3 .inner dl:not(:first-child) dd {
  padding: 10px 0 8px;
  border-bottom: 1px solid #4a4a4a;
}
.web-footer3 .inner dl:not(:first-child) dd:last-child {
  border-bottom: none;
}
.web-footer3 .inner dl:not(:first-child) dd a {
  font-size: 15px;
  color: #cccccc;
  text-decoration: none;
}
.web-footer3 .inner dl:not(:first-child) dd a:hover {
  color: #909090;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
.web-footer3 .inner dl:not(:first-child) dd small {
  color: #9a9a9a;
}
.web-footer3-bottom {
  width: 100%;
  height: 63px;
  background-color: #353535;
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.23);
}
.web-footer3-bottom .inner {
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.web-footer3-bottom .inner span {
  float: left;
  color: #a4a4a4;
}
.web-footer3-bottom .inner ul {
  list-style: none;
}
.web-footer3-bottom .inner ul li {
  float: right;
  padding-left: 30px;
}
.top-border-color {
  border-top-color: #82BBE7;
  border-top-width: 5px;
  border-radius: 3px;
}
.left-border-color {
  border-left-color: #82BBE7;
  border-left-width: 5px;
  border-radius: 3px;
}
.bottom-border-color {
  border-bottom-color: #82BBE7;
  border-bottom-width: 5px;
  border-radius: 3px;
}
.right-border-color {
  border-right-color: #82BBE7;
  border-right-width: 5px;
  border-radius: 3px;
}
.placeholder-top {
  margin-top: 5px;
}
.placeholder-bottom {
  margin-bottom: 5px;
}
.placeholder-left {
  margin-left: 5px;
}
.placeholder-right {
  margin-right: 5px;
}
.no-click {
  cursor: default !important;
}
