@import "bootstrap_ico.css";
@charset "utf-8";
.icon {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
span {
  font-size: 14px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.base {
  margin-bottom: 20px;
}
.base h2 {
  font-size: 30px;
  font-weight: 500;
}
.nav-menu {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
}
.nav-menu ul {
  list-style: none;
}
.nav-menu ul li {
  float: left;
  margin-left: 20px;
  line-height: 60px;
  text-align: center;
  position: relative;
}
.nav-menu ul li a:not(first-child) {
  text-decoration: none;
  display: block;
  padding: 0 10px;
  color: #545454;
}
.nav-menu ul li a:not(first-child):hover {
  background-color: #dbdbdb;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
.nav-menu ul li a:not(first-child) i {
  color: #a9a9a9;
  zoom: 0.5;
}
.nav-menu ul li ul {
  display: none;
  position: absolute;
  border: 1px solid #cccccc;
  background-color: #fefefe;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}
.nav-menu ul li ul li {
  float: none;
  border-left: none;
  margin-top: 2px;
  margin-left: -20px;
}
.nav-menu ul li ul li a {
  width: 160px;
  height: 30px;
  margin-left: 20px;
  line-height: 1.85;
  overflow: hidden;
}
.nav-menu ul li:hover ul {
  display: block;
}
.nav-menu ul li[class=logo] {
  display: block;
  font-size: 40px;
}
.nav-menu ul li[class=logo] a {
  line-height: 1.3;
}
.nav-menu ul li[class=logo]:hover a {
  background-color: #eaeaea;
}
.nav-menu ul form {
  float: right;
  line-height: 42px;
}
.nav-menu ul form input[type=text] {
  -ms-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  outline: none;
}
.nav-menu ul form input[type=submit] {
  height: 30px;
  margin-left: -1px;
  -ms-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}
.crumbs {
  width: 100%;
  height: 35px;
  list-style: none;
  background-color: #eaeaea;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crumbs li {
  float: left;
  line-height: 2.1;
  padding-left: 10px;
}
.crumbs li:not(:first-child)::before {
  content: "/";
  padding-right: 10px;
  color: #cccccc;
}
.crumbs li:last-child a {
  color: #777777;
}
.crumbs li:last-child a:hover {
  color: #777777;
  cursor: default;
}
.crumbs li a {
  text-decoration: none;
  color: #428bca;
}
.crumbs li a:hover {
  color: #2a6496;
}
.panel-notice {
  width: 100%;
  min-height: 200px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}
.panel-notice .title {
  height: 40px;
  line-height: 1.9;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 20px;
}
.panel-notice .body {
  padding: 5px;
}
.alert-news {
  width: 100%;
  height: 50px;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  z-index: 1;
}
.alert-news span {
  line-height: 2.2;
  font-size: 18px;
}
.error {
  border-color: #FFDBDB;
  background-color: #ffeded;
  color: #ff3838;
}
.error ::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e014";
}
.warning {
  border-color: #F1F1A8;
  background-color: #ffffd5;
  color: #81812F;
}
.warning ::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e101";
}
.info {
  border-color: #A3D4FF;
  background-color: #B2DBFF;
  color: #088CFF;
}
.info ::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e107";
}
.success {
  border-color: #A0FFA0;
  background-color: #C7FFC7;
  color: #139613;
}
.success ::before {
  padding: 0 10px 0 10px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e013";
}
.a-tag-link {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  height: 20px;
  min-width: 20px;
  line-height: 19px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 3px;
  border: 1px solid #cccccc;
  color: #777777;
  background-color: #f4f4f4;
  padding: 0 3px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.a-tag-link:hover {
  text-decoration: none;
  color: #428bca;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.23);
}
.a-tag-link i {
  padding-left: 3px;
}
.a-tag-link .division {
  position: relative;
  margin-left: -4px;
  padding-left: 3px;
  top: -2px;
  line-height: 1;
}
.a-tag-link em {
  position: relative;
  top: -1px;
  line-height: 1;
  padding-left: 3px;
  padding-right: 3px;
}
.a-tag-button {
  display: inline-block;
  padding: 8px 50px;
  line-height: 1.4;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #428bca;
  background-color: rgba(255, 255, 255, 0);
  border-color: #428bca;
}
.a-tag-button:hover {
  background-color: #428bca;
  color: white;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.button-tag {
  height: 91px;
  width: 95px;
  border: 2px #428bca solid;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  outline: none;
  color: #2a6496;
  background-color: rgba(255, 255, 255, 0);
}
.button-tag:hover {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  -moz-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  -ms-box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  box-shadow: 0 0 10px #428bca, inset 0 0 10px #428bca;
  text-shadow: 0 1px 2px #428bca;
}
.a-tag-group {
  float: left;
  margin-bottom: 10px;
}
.a-tag-group a {
  display: inline-block;
  margin-left: -1px;
  padding: 4px 20px;
  line-height: 1.4;
  text-align: center;
  float: left;
  text-decoration: none;
  border: 1px solid transparent;
  color: #428bca;
  background-color: #fff;
  border-color: #cccccc;
}
.a-tag-group a:first-child {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.a-tag-group a:last-child {
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.a-tag-group a:hover:not(.new) {
  background-color: #e8e8e8;
  border-color: #c2c2c2;
  color: #2a6496;
}
.a-tag-group .new {
  background-color: #cccccc;
  color: #a4a4a4;
  cursor: default;
}
.a-tag-group .last,
.button-tag-group .last,
.a-tag-group .next,
.button-tag-group .next {
  width: 50px;
  padding-left: 12px;
}
.a-tag-group .no-hover:hover,
.button-tag-group .no-hover:hover {
  background-color: #fff !important;
  color: #428bca !important;
}
.button-tag-group {
  float: left;
  margin-bottom: 10px;
}
.button-tag-group button {
  outline: none;
  padding: 4.7px 20px;
  float: left;
  border: 1px solid #cccccc;
  color: #428bca;
  background-color: #fff;
  font-size: 16px;
}
.button-tag-group button:not(:first-child) {
  margin-left: -1px;
}
.button-tag-group button:first-child {
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-tag-group button:last-child {
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.button-tag-group button:hover:not(.new) {
  background-color: #e8e8e8;
  border-color: #c2c2c2;
  color: #2a6496;
  cursor: pointer;
}
.button-tag-group .new {
  background-color: #cccccc;
  color: #a4a4a4;
}
.img-circle {
  width: 112px;
  margin-top: 5px;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.img-circle-hover {
  box-sizing: border-box;
  width: 112px;
  margin-top: 5px;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 6px solid #cccccc;
  transition: border linear 0.2s;
}
.img-circle-hover:hover {
  border: 2px solid #cccccc;
  cursor: pointer;
}
.img-frames {
  padding: 3px;
  width: 112px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.img-frames-hover {
  box-sizing: border-box;
  padding: 3px;
  width: 112px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  transition: all linear 0.2s;
}
.img-frames-hover:hover {
  cursor: pointer;
  border: 0px solid #cccccc;
}
.thumbnail-frames {
  padding: 3px;
  width: 60px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
}
.form-tag {
  margin: 8px 0 8px 0;
  padding: 0 10px 0 10px;
}
.form-tag input {
  width: auto;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-tag input[type="submit"] {
  width: 50px;
  padding-left: 0px;
  background-color: #f4f4f4;
  color: #686868;
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.embed {
  clear: both;
  padding: 12px;
  background-color: #f4f4f4;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.embed span {
  font-size: 17px;
  line-height: 25px;
  color: #636363;
}
.code-tag {
  display: block;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 0 5px 10px;
  font-family: "Courier New", monospace;
  color: #0c4678;
  background-color: #f5f5f5;
}
.code-tag pre {
  font-family: "Courier New", monospace;
}
.code-fragment {
  padding: 0 8px 0 8px;
  background-color: rgba(255, 0, 0, 0.06);
  color: rgba(255, 0, 0, 0.67) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -ms-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.top-border-color {
  border-top-color: #82BBE7;
  border-top-width: 5px;
  border-radius: 3px;
}
.left-border-color {
  border-left-color: #82BBE7;
  border-left-width: 5px;
  border-radius: 3px;
}
.bottom-border-color {
  border-bottom-color: #82BBE7;
  border-bottom-width: 5px;
  border-radius: 3px;
}
.right-border-color {
  border-right-color: #82BBE7;
  border-right-width: 5px;
  border-radius: 3px;
}
.placeholder-top {
  margin-top: 5px;
}
.placeholder-bottom {
  margin-bottom: 5px;
}
.placeholder-left {
  margin-left: 5px;
}
.placeholder-right {
  margin-right: 5px;
}
.no-click {
  cursor: default !important;
}
