@import "bootstrap_ico.css";
@charset "utf-8";
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  .nav-menu ul li:first-child a {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 992px) {
  .nav-menu form {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 800px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .media-nav-menu {
    display: none;
  }
  .nav-menu-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
  .media-nav-menu {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #eaeaea;
    border-bottom: 1px solid #cccccc;
  }
  .media-nav-menu a {
    float: left;
    color: #666;
    font-size: 45px;
    text-decoration: none;
  }
  .media-nav-menu a:hover {
    color: #428bca;
  }
  .media-nav-menu form {
    float: left;
    line-height: 2.7;
  }
  .media-nav-menu form input[type=text] {
    width: 100%;
  }
  .media-nav-menu form input[type=submit] {
    display: none;
  }
  .media-nav-menu button {
    float: right;
    border-color: white;
    padding: 9px 10px;
    margin: 11px 15px 0 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  .media-nav-menu button .icon-bar {
    display: block;
    margin-bottom: 5px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #428bca;
  }
  .media-nav-menu button .icon-bar:last-child {
    margin-bottom: 0;
  }
  .nav-menu-toggle {
    display: none;
  }
  .nav-menu-toggle ul {
    list-style: none;
    margin: 7px;
    border-bottom: 1px solid #cccccc;
  }
  .nav-menu-toggle ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 17px;
    color: #777;
    text-decoration: none;
  }
  .nav-menu-toggle ul li a:hover {
    color: #428bca;
    background-color: #cccccc;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .nav-menu-toggle ul li ul {
    display: none;
  }
  .nav-menu-toggle ul form {
    display: none;
  }
}
@media (max-width: 576px) {
  .media-nav-menu a {
    font-size: 30px;
    line-height: 2;
  }
  .media-nav-menu form {
    display: none;
  }
  .nav-menu-toggle ul form {
    display: inline;
  }
  .nav-menu-toggle ul form input[type=text] {
    width: 100%;
  }
  .nav-menu-toggle ul form input[type=submit] {
    display: none;
  }
}
