@charset "utf-8";
@import "include/function";
@import "include/var";
@import "bootstrap_ico.css";

//全局样式
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
span{
	font-size: 14px;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}
.base{
	clear: both;
	margin-bottom: 20px;
	h2{
		font-size: 30px;
		font-weight: 500;
	}
}

//导航菜单
 .nav-menu{
 	width:100%;
 	height:60px;
 	margin:0 auto;
 	background-color:@color4 + 30;
 	.box-shadow(0 3px 5px rgba(0, 0, 0, 0.23));
 	ul{
 		list-style:none;
 		li{
 			float:left;
 			margin-left: 20px;
			line-height:60px;
			text-align:center;
			position:relative;
			a:not(first-child){
				text-decoration:none;
				display:block;
				padding: 0 10px;
				color:@color4 - 120;
				&:hover{
					background-color:@color4 + 15;
					text-shadow:0 1px 5px rgba(0, 0, 0, 0.23);
				}
				i{
					color: @color3 + 50;
					zoom:0.5;
				}
			}
			ul{
				display:none;
				position:absolute;
				border: 1px solid @color4;
				background-color: @color4 + 50;
				.box-shadow(0 3px 5px rgba(0, 0, 0, 0.23));
				.rounded_blr;
				z-index: 1;
				li{
					float:none;
					border-left:none;
					margin-top:2px;
					margin-left: -20px;
					a{
						width: 160px;
						height: 30px;
						margin-left: 20px;
						line-height: 1.85;
						overflow: hidden;

					}
				}
			}
			&:hover ul{
				display:block;
			}
			&[class=logo]{
				display:block;
				font-size: 40px;
				a{
					line-height: 1.3;
				}
				&:hover a{
					background-color:@color4 + 30;
				}
			}
 		}
 			form{
		float: right;
		line-height: 42px;
		input[type=text]{
			.rounded_rtb(0px);
			outline:none;
		}
		input[type=submit]{
			height: 30px;
			margin-left: -1px;
			.rounded_ltb(0px);
			box-shadow:none;
		}
	}
 	}
 }

//面包屑
.crumbs{
	width: 100%;
	height: 35px;
	list-style:none;
	background-color: @color4 + 30;
	.border-radius;
	li{
		float: left;
		line-height: 2.1;
		padding-left:10px;
		&:not(:first-child){
			&::before{
				content: "/";
				padding-right: 10px;
				color: @color4;
			}
		}
		&:first-child{
			&::before{
				.icon();
				content: "\e021";
				padding-left: 0px;
				font-size: 14px;
				color: @color3 + 30;
			}
		}
		&:last-child{
			a{
				color: @color3;
				&:hover{
					color:@color3;
					cursor:default;
				}
			}
		}
		a{
			text-decoration:none;
			color: @color1;
			&:hover{
				color:@color2;
			}
		}
	}
}
//面板/公告
.panel-notice{
	width: 100%;
	min-height:200px; 
	border: 1px solid @color4 + 10;
	.border-radius;
	.box-shadow(0 1px 1px rgba(0, 0, 0, 0.07));
	.title{
		height: 40px;
		line-height: 1.9;
		border-bottom: 1px solid @color4 + 10;
		background-color: @color4 + 40;
		text-align: center;
		font-size: 20px;
	}
	.body{
		padding: 5px;
	}
}

//消息窗口
.alert-news{
	width: 100%;
	height: 50px;
	border: 1px solid;
	.border-radius;
	padding: 5px;
	margin-bottom: 5px;
	z-index: 1;
	span{
		line-height: 2.2;
		font-size: 18px;
	}
}
.error{
	border-color:#FFDBDB;
	background-color: rgb(255, 237, 237);
	color: rgb(255, 56, 56);
	span:first-child{
		&::before{
			.icon;
			content: "\e014";
		}
	}
}
.warning{
	border-color:#F1F1A8;
	background-color: rgb(255, 255, 213);
	color: #81812F;
	span:first-child{
		&::before{
			.icon;
			content: "\e101";
		}
	}
}
.info{
	border-color:#A3D4FF;
	background-color: #B2DBFF;
	color: #088CFF;
	span:first-child{
		&::before{
			.icon;
			content: "\e107";
		}
	}
}
.success{
	border-color:#A0FFA0;
	background-color: #C7FFC7;
	color: #139613;
	span:first-child{
		&::before{
			.icon;
			content: "\e013";
		}
	}
}
.alert-news-all-close{
	float: right;
	padding-right: 10px;
	line-height: 2.6 !important;
	font-size: 15px !important;
	cursor: pointer;
}
.alert-news-error-close{
	color: rgb(255, 56, 56) + 80;
}
.alert-news-warning-close{
	color: #81812F + 80;
}
.alert-news-info-close{
	color: #088CFF + 80;
}
.alert-news-success-close{
	color: #139613 + 80;
}

//文章框架
.article-box{
	float:left;
	width:70%;
	max-height: 200px;
	min-height: 170px;
	margin: 5px 0;
	background-color: white;
	.border-radius;
	.box-shadow(0 4px 10px rgba(0,0,0,0.1));
	.box-left{
		float: left;
		width: 76%;
		.left-header{
			padding: 5px 10px;
			border-bottom: 1px solid @color4;
			span:nth-child(1){
				font-size:18px;
			}
			span:nth-child(2){
				float:right;
				line-height: 1.8;
				color: @color3;
				&::before{
					.icon;
					content: "\e008";
				}
			}
		}
		.left-body{
			max-height: 94px;
			padding: 5px 10px;
			overflow:hidden;
			span{
				word-wrap : break-word;
				color: @color3 - 50;
			}

		}
	}
	.box-rigth{
		float: right;
		padding: 10px 7px;
	}
	.box-bottom{
		clear: both;
		padding: 5px 0px;
		background-color: rgba(0,0,0,0.04);;
		span{
			margin-right: 100px;
			color: #333 + 50;
			&:nth-child(1){
				&::before{
					.icon;
					content: "\e023";
				}
			}
			&:nth-child(2){
				&::before{
					.icon;
					content: "\e105";
				}
			}
			&:nth-child(3){
				&::before{
					content: "来自：";
				}
			}
			a{
				text-decoration: none;
				color: @color1;
			}
		}
	}
/*	float: left;
	width: 70%;
	max-height: 200px;
	min-height: 170px;
	margin: 5px 0;
	background-color: white;
	border: 1px solid @color4;
	.border-radius;
	.box-shadow(0 4px 10px rgba(0,0,0,0.1));
	.article-left{
		width: 100%;
		.left-header{
			float: left;
			width: 76%;
			min-height: 32px;
			padding: 3px 10px;
			border-bottom: 1px solid @color4;
			span:nth-child(1){
				float:left;
				line-height: 1.6;
				font-size: 18px;
			}
			span:nth-child(2){
				float: right;
				line-height: 2;
				font-size: 15px;
			}
		}
	}
	.article-right{
		float: left;
		width: 24%;
		padding: 10px 10px;
	}*/
}

//a标签 外链
.a-tag-link{
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
	height: 20px;
	min-width: 20px;
	line-height: 19px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	border: 1px solid @color4;
	color: #777777;
	background-color: @color4 + 40;
	padding: 0 3px;
	letter-spacing: 1px;
	.border-radius;
	&:hover{
		text-decoration:none;
		color: @color1;
		.box-shadow(0 1px 2px rgba(0,0,0,0.23));
	}
	i{
		padding-left: 3px;
	}
	.division{
		position: relative;
		margin-left: -4px;
		padding-left: 3px;
		top: -2px;
		line-height: 1;
	}
	em{
		position: relative;
		top: -1px;
		line-height: 1;
		padding-left: 3px;
		padding-right: 3px;
	}
}

//a标签 幽灵按钮
.a-tag-button
{
	display: inline-block;
	padding: 8px 50px;
	line-height: 1.4;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid transparent;
	.border-radius;
	color: #428bca;
	background-color: rgba(255, 255, 255, 0);
	border-color: #428bca;
	&:hover{
		background-color:@color1;
		color: white;
		.box-shadow(0 2px 20px rgba(0, 0, 0, 0.23));
		.transition(all 0.2s linear);
	}
}

//button幽灵按钮
.button-tag{
	height: 91px;
	width: 95px;
	border:2px @color1 solid;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	.border-radius(500px);
	outline:none;
	color: @color2;
	background-color: rgba(255, 255, 255, 0);
	&:hover{
	.transition(all linear .2s);
	.box-shadow2(0 0 10px @color1,inset 0 0 10px @color1);
	text-shadow: 0 1px 2px @color1;
	}
}

//按钮组
.button-group{
	float: left;
	margin-bottom: 10px;
	button{
		float: left;
		outline:none;
		padding: 6.8px 19px;
		min-width: 106px;
		border: 1px solid @color4;
  		color: @color1;
  		background-color: #fff;
  		font-size: 16px;
  		&:not(:first-child){
  			margin-left: -1px;
  		}
  		&:first-child{
			.rounded_ltb;
		}
		&:last-child{
			.rounded_rtb;
		}
		&:hover{
			background-color: @color4 + 30;
			color: @color2;
			cursor: pointer;
		}
	}
}

//a页面 按钮组
.a-page{
	float: left;
	margin-bottom: 10px;
	a{
		display: inline-block;
		margin-left: -1px;
		padding: 0 14px;
		line-height: 1.4;
		text-align: center;
		float: left;
		text-decoration: none;
		border: 1px solid transparent;
		color: @color1;
		background-color: #fff;
		border-color: @color4;
		&:first-child{
			.rounded_ltb;
		}
		&:last-child{
			.rounded_rtb;
		}
		&:hover:not(.new){
			background-color:@color4 + 28;
			border-color: @color4 - 10;
			color: @color2;
		}
	}
	.new{
		background-color: @color4;
		color: @color4 - 40;
		cursor:default;
	}
}

//a/button公用的样式
.a-page,.button-page{
	.last,.next{
		width: 40px;
		padding-left: 7px;
	}
	.no-hover{
	&:hover{
		background-color:#fff !important;
		color: @color1 !important;
	}
}
}

//button页面 按钮组
.button-page{
	float: left;
	margin-bottom: 10px;
	button{
		outline:none;
		padding: 0.8px 14px;
		float: left;
		border: 1px solid @color4;
  		color: @color1;
  		background-color: #fff;
  		font-size: 16px;
  		&:not(:first-child){
  			margin-left: -1px;
  		}
  		&:first-child{
			.rounded_ltb;
		}
		&:last-child{
			.rounded_rtb;
		}
		&:hover:not(.new){
			background-color:@color4 + 28;
			border-color: @color4 - 10;
			color: @color2;
			cursor: pointer;
		}
  	}
  	.new{
		background-color: @color4;
		color: @color4 - 40;
	}
}

//img图片样式
.img-circle{
    width: 112px;
    margin-top: 5px;
    cursor: pointer;
    .border-radius(500px);
}
.img-circle-hover{
	box-sizing: border-box;
    width: 112px;
    margin-top: 5px;
    .border-radius(500px);
    border:6px solid @color4;
    transition:border linear 0.2s;
    &:hover{
    	border:2px solid @color4;
    	cursor: pointer;
    }
}
.img-frames{
	padding: 3px;
	width: 112px;
	.border-radius;
    border:1px solid @color4;
}
.img-frames-hover{
	box-sizing: border-box;
	padding: 3px;
    width: 112px;
    .border-radius;
    border:1px solid @color4;
    transition:all linear 0.2s;
    &:hover{
    	cursor: pointer;
    	border:0px solid @color4;
    }
}

//缩略图框架
.thumbnail-frames{
	padding: 3px;
	width: 60px;
	.border-radius;
    border:1px solid @color4;
    text-align: center;
}

//下拉菜单样式
.dropdown{
	position: relative;
	display: inline-block;
	button{
		padding: 5px 5px 5px 10px;
		border:1px @color4 + 20 solid;
		background-color: white;
		.border-radius;
		cursor: pointer;
		outline:none;
		&::after{
			.icon;
			content: "\e250";
			padding:0 2px;
			font-size: 12px;
		}
	}
}
.dropdown2{
	position: relative;
	display: inline-block;
	button{
		padding: 5px 5px 5px 10px;
		border:1px @color4 + 20 solid;
		background-color: white;
		.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
		.border-radius;
		cursor: pointer;
		outline:none;
		&::after{
			.icon;
			content: "\e252";
			padding:0 2px;
			font-size: 12px;
		}
	}
}
.dropdown-ul{
	display: none;
	list-style-type:none;
	width: 150px;
	border:1px @color4 + 20 solid;
	.border-radius;
	background-color: white;
	position: absolute;
	z-index: 1;
	li{
		width: auto;
		line-height: 1.5;
		&:first-child:hover{
			.rounded_tlr;
		}
		&:last-child:hover{
			.rounded_blr;
		}
		&:hover{
			background-color:@color4 + 30;
		}
		a{
			display: block;
			padding: 5px 13px;
			text-decoration: none;
			color: black;
			font-size: 14px;
		}
	}
}

//form标签/input样式
.form-tag{
	margin: 8px 0 8px 0;
	padding: 0 10px 0 10px;
	input{
		width: auto;
		height: 30px;
		padding-left: 10px;
		margin-bottom: 4px;
		border: 1px solid #ccc;
		.box-shadow(inset 0 1px 1px rgba(0,0,0,.10));
		.border-radius;
		outline:none;
		&[type="submit"]{
			width: 100px;
			padding-left: 0px;
			background-color: @color4 + 40;
			color: @color4 - 100;
			.box-shadow(~"none !important");
			cursor:pointer;
			&:hover{
				background-color:@color4 + 30;
			}
		}
	}
	.group-left{
		.rounded_rtb(0);
		outline:none;
	}
	.group-all{
		margin:0 -1px 0 -6px;
		.border-radius(0);
		outline:none;
	}
	.group-right{
		margin-left: -6px;
		.rounded_ltb(0);
		.box-shadow(~"none !important");
		outline:none;
	}
}

//table样式
.table-tag-head{
	padding: 10px 10px 10px 30px;
	margin-bottom: -1px;
	width: 100%;
	border: 1px solid @color4;
	background-color: @color4 + 30;
	.rounded_tlr;
	text-align: center;
	span{
		font-size: 18px;
	}
}
.table-tag{
	width: 100%;
	border: 1px solid @color4;
	.rounded_blr;
	border-collapse: separate;
	border-spacing: 0;
	&>thead{
		text-align: center;
		&>tr{
			&>th,&>td{
				border-bottom: 1px solid @color4;
				padding:10px 0;
			}
		}
	}
	&>tbody{
		text-align: center;
		&>tr{
			&:nth-child(odd){
				background-color:@color4 + 40;
			}
			&>th,&>td{
				padding:10px 0;
			}
		}
	}
}

//alert_model_main弹窗样式
.alert_model_main{
	display: none;
	width: 1170px;
	position:fixed;
	top:30%;
	left:30%;
	z-index: 1001;
}
#alert_mask{
	background-color:black;
	height: 1000px;
	width: 100%;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
}

//嵌入样式
.embed{
	clear:both;
	padding: 12px;
	background-color: @color4 + 40;
	border: 1px solid #e3e3e3;
	.border-radius;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
	span{
		font-size: 17px;
		line-height: 25px;
		color: @color3 - 20;
	}
}

//code样式
.code-tag{
	clear: both;
	display: block;
	border: 1px solid #ccc;
	.border-radius(4px);
	padding: 4px 0 5px 10px;
	font-family: "Courier New",monospace;
	color: #0c4678;
	background-color: #f5f5f5;
	overflow: hidden;
	word-wrap:break-word;
	pre{
		font-family: "Courier New",monospace;
	}
}

//code片段样式
.code{
	padding: 0 8px 0 8px;
	background-color: rgba(255, 0, 0, 0.06);
	color: rgba(255, 0, 0, 0.67)!important;
	.box-shadow(inset 0 1px 1px rgba(255, 0, 0, 0.06));
	.border-radius;
}
//footer页脚样式
.web-footer{
	width: 100%;
	height: 200px;
	background-color: @color4;
	.box-shadow(0px 3px 14px 2px rgba(0, 0, 0, 0.23));
	.inner{
		padding-top:30px; 
		margin-right: auto;
		margin-left: auto;
		width: 1170px;
		dl{
			float: left;
			padding-right: 40px;
			border-right: 1px solid @color4 - 50;
			dt{
				color: @color4 - 130;
				padding-bottom: 10px;
			}
			dd{
				text-align: center;
				padding-bottom: 5px;
				a{
					color: @color1;
					text-decoration: none;
					&:hover{
						color:@color2;
						text-shadow:0 1px 5px rgba(0, 0, 0, 0.23);
					}
				}
			}
		}
		dl:not(:first-child){
			padding-left: 40px;
		}
		dl:last-child{
			border-right: none;
		}
		.footer-int{
			padding-left: 40px;
			span{
				color: @color2;
			}
		}
	}
}
//footer页脚样式2
.web-footer2{
	width: 100%;
	height: 120px;
	background-color:#353535;
	.box-shadow(0px 3px 14px 2px rgba(0, 0, 0, 0.23));
		.inner{
		padding-top:30px; 
		margin-right: auto;
		margin-left: auto;
		width: 1170px;
		ul:first-child{
			float:left;
			list-style: none;
			li{
				float: left;
				padding:0 20px;
				border-right: 1px solid @color4 - 50;
				a{
					color: white;
					text-decoration: none;
					&:hover{
						color:@color4;
					}
				}
				&:first-child{
					padding-left:0;
				}
				&:first-child{
					width: 92px;
				}
				&:first-child,&:last-child{
					border-right:none;
				}
				&:not(:first-child){
					line-height: 1.9;
				}
			}
		}
		p{
			padding-top: 55px;
			color: @color4 - 50;
			font-size: 13px;
		}
		.right-icon{
			float: right;
			ul{
				li{
					border-right:none;
				}
			}
		}
	}
}
//footer页脚样式3
.web-footer3{
	width: 100%;
	height: 304px;
	background-color:#353535;
	.box-shadow(0px 3px 14px 2px rgba(0, 0, 0, 0.23));
	.inner{
		padding-top:30px; 
		margin-right: auto;
		margin-left: auto;
		width: 1170px;
		dl{
			float: left;
			padding-right: 65px;
			width: 300px;
			dd{
				font-size: 14px;
				color: @color4;
			}
		}
		dl:last-child{
			width: 235px !important;
			padding-right:0 !important;
		}
		dl:not(:first-child){
			float: left;
			padding-right: 65px;
			width: 300px;
			dt{
				padding-bottom: 10px;
				border-bottom: 1px dashed @color4 - 50;
				span{
					padding-bottom:9px;
					border-bottom: 3px solid @color1;
					font-size: 20px;
					color: white;
				}
			}
			dd{
				padding: 10px 0 8px;
				border-bottom: 1px solid @color4 - 130;
				&:last-child{
					border-bottom: none;
				}
				a{
					font-size: 15px;
					color: @color4;
					text-decoration: none;
					&:hover{
						color:@color4 - 60;
						text-shadow:0 1px 5px rgba(0, 0, 0, 0.23);
					}
				}
				small{
					color: @color4 - 50;
				}
			}

		}
	}
}
.web-footer3-bottom{
	width: 100%;
	height: 63px;
	background-color:#353535;
	.box-shadow(0px 3px 14px 2px rgba(0, 0, 0, 0.23));
	.inner{
		padding-top:16px; 
		margin-right: auto;
		margin-left: auto;
		width: 1170px;
		span{
			float: left;
			color: @color4 - 40;
		}
		ul{
			list-style: none;
			li{
				float: right;
				padding-left: 30px;
			}
		}
	}
}

//边框颜色
.top-border-color{
	border-top-color: #82BBE7;
	border-top-width: 5px;
	border-radius: 3px;
}
.left-border-color{
	border-left-color: #82BBE7;
	border-left-width: 5px;
	border-radius: 3px;
}
.bottom-border-color{
	border-bottom-color: #82BBE7;
	border-bottom-width: 5px;
	border-radius: 3px;
}
.right-border-color{
	border-right-color: #82BBE7;
	border-right-width: 5px;
	border-radius: 3px;
}

//占位符
.placeholder-top{
	margin-top: 5px;
}
.placeholder-bottom{
	margin-bottom: 5px;
}
.placeholder-left{
	margin-left: 5px;
}
.placeholder-right{
	margin-right: 5px;
}
.no-click{
	cursor:default !important;
}