@charset "utf-8";
@import "include/function";
@import "include/var";
@import "bootstrap_ico.css";

//全局样式
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
span{
	font-size: 14px;
}
.container{
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}
.base{
	margin-bottom: 20px;
}
//a标签 外链
.a_tag-link{
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
	height: 20px;
	min-width: 20px;
	line-height: 19px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	border: 1px solid @color4;
	color: #777777;
	background-color: @color4 + 40;
	padding: 0 3px;
	letter-spacing: 1px;
	.rounded_rtb;
	.rounded_ltb;
	&:hover{
		text-decoration:none;
		color: @color1;
		box-shadow: 0 1px 2px rgba(0,0,0,0.23);
	}
	i{
		padding-left: 3px;
	}
	.division{
		margin-left: -4px;
		padding-left: 3px;
	}
	em{
		padding-left: 3px;
		padding-right: 3px;
	}
}

//a标签 幽灵按钮
.a_tag-button{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid transparent;
	.rounded_all;
	color: #428bca;
	background-color: rgba(255, 255, 255, 0);
	border-color: #428bca;
	padding: 8px 50px;
	line-height: 1.4;
	&:hover{
		background-color:@color1;
		color: white;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
		transition: all 0.2s linear;
	}
}

//img图片样式
.img-circle{
    width: 112px;
    cursor: pointer;
    .rounded_rtb(500px);
    .rounded_ltb(500px);
    margin-top: 5px;
}
.img-circle-hover{
	box-sizing: border-box;
    width: 112px;
    .rounded_rtb(500px);
    .rounded_ltb(500px);
    margin-top: 5px;
    border:6px solid @color4;
    transition:border linear 0.2s;
    &:hover{
    	cursor: pointer;
    	border:2px solid @color4;
    }
}
//form标签
.form_tag{
	padding-top: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	input{
		width: auto;
		height: 30px;
		padding-left: 10px;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.10);
		.rounded_rtb;
		.rounded_ltb;
	}
	input[type="submit"]{
		cursor:pointer;
		width: 50px;
		padding-left: 0px;
		background-color: @color4 + 40;
		box-shadow:0 0px 4px rgba(0, 0, 0, 0.23);
	}
}
//嵌入样式
.embed{
	padding: 12px;
	background-color: @color4 + 40;
	border: 1px solid #e3e3e3;
	.rounded_rtb;
	.rounded_ltb;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	span{
		font-size: 17px;
		color: @color3 - 20;
		line-height: 25px;
	}
}

//code样式
.code_tag{
display: block;
font-family: "Courier New",monospace;
padding: 4px 0 5px 10px;
color: #0c4678;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
pre{
	font-family: "Courier New",monospace;
}
}

//code片段样式
.code-fragment{
	background-color: rgba(255, 0, 0, 0.06);
	color: rgba(255, 0, 0, 0.67)!important;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.06);
	.rounded_rtb;
	.rounded_ltb;
}


//占位符
.placeholder-top{
	margin-top: 5px;
}
.placeholder-bottom{
	margin-bottom: 5px;
}
.placeholder-left{
	margin-left: 5px;
}
.placeholder-right{
	margin-right: 5px;
}